body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
#arcos{
    display: flex;
    width: 100%;
    height: 100vh;
    gap: 0;
}
#arco2, #arco3, #arco4, #arco5, #arco6{
    width: 16.66%;
    box-shadow: 0 0 10px black;
    position: relative;
    flex: 1;
    overflow: hidden;
    cursor: pointer;

}
#arco1{
    width: 16.66%;
    box-shadow: 0 0 10px black;
    position: relative;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    background-color: black;
}
#arco1 img, #arco4 img, #arco5 img, #arco6 img{
    flex: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#arco2 img{
    flex: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 18% 0;
}
#arco3 img{
    flex: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 10% 0;
}
#textoArco1{
  position: absolute;
  top: 52%;
  bottom: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 90%;
  z-index: 10;
  pointer-events: none;
  display: block;
  opacity: 0;
}
#arco1:hover #textoArco1{
    transition: opacity 0.5 ease;
    opacity: 1;
}
#arco1 img:hover,#arco2 img:hover,#arco3 img:hover,#arco4 img:hover,#arco5 img:hover,#arco6 img:hover{
    filter: blur(7px);
    transform: scale(1.05);
    transition: transform 0.5s ease;
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
#arco1.aberto .capa {
    transform: translateY(-50%);
}
.menu-escondido{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    gap: 2px;
    margin-bottom: 2px;
}
.menu-escondido a{
    position: absolute;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    z-index: 15;
    width: 100%;
    height: 100%;
}
#sub1 a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 15;
}
.menu-escondido a:hover{
    color: white;
    text-shadow: 0 0 4px white;
}
#sub1, #sub2, #sub3, #sub4, #sub5, #sub6{
    width: 100%;
    height: 4.15%;
    box-shadow: 0 0 10px black;
    position: relative;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
}
#sub1 img{
    flex: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#sub1 a{
/*   position: absolute; */
  top: 50%;
  bottom: 50%;
  padding-top: 32px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100%;
  z-index: 10;
/*   display: block; */
}
.menu-escondido a:hover{
    background-color: rgba(0, 0, 0, 0.396);
}
.menu-escondido img:hover{
    filter: blur(5px);
}
@media all and (max-width:1700px){
    #arco3 img{
        object-position: 13% 0;
    }
    #arco2 img{
        object-position: 20% 0;
    }
}
@media all and (max-width: 1000px){
    body, html{
        overflow: auto;
        padding-top: 50px;
    }
    #arcos{
        display: grid;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        margin-top: 0;
        padding: 30px;
        height: auto;
        gap: 20px;
        background: linear-gradient(to right, #800505, #460808, #800505);
        border-radius: 15px;
    }
    #arco1, #arco2, #arco3, #arco4, #arco5, #arco6{
        width: 100%;
        margin: 0 auto;
        height: auto;
        border-radius: 15px;
    }
    #arco2 img{
        object-position: 50% 88%;
    }
    #textoArco1{
        top: 45%;
    }
}