body {
    padding: 0 !important;
    background-image: url(../img/background_hashiras.png);
}

body a {
    position: absolute;
}
#voltar {
    width: 60px;
    height: auto;
    transition:  transform 0.5s ease;
}
#voltar:hover {
    transform:rotate(-360deg);
}

#cadastro {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    position: absolute;
    top: 150px;
}

#formCadastro {
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 50px;
    padding: 50px 0;
    background: linear-gradient( rgba(128, 5, 5, 0.750), rgba(122, 33, 33, 0.75), rgba(128, 5, 5, 0.750));
    border-radius: 30px;
}

#formCadastro input {
    margin: 0 auto;
    width: 80%;
    height: 50px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    background: none;
}

#formCadastro input:hover{
    border: 2px solid black;
}
#formCadastro input:focus {
    border: 2px solid black;
}
#formCadastro label {
    left: -50%;
    right: -50%;
    margin: 0 auto;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

#formCadastro button {
    width: 30%;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
    background-color: green;
    border: none;
    border-radius: 10px;
    transition: transform 0.5s ease;
    border: 2px solid black
}

#formCadastro button:hover {
    border: none;
    box-shadow: 0 0 10px black
/*     transform: scale(1.01); */
}
.dados {
    display: flex;
    flex-direction: column;
}