#fanartMes{
    width: 33.33%;
    display: flex;
    height: auto;
    margin: 0 auto;
    justify-content: center;
/*     background-color: rgb(182, 0, 45); */
    flex-direction: column;
    border-radius: 20px;
}
#fanartImg{
    width: 60%;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}