#fanarts {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 70%;
    height: auto;
    margin-top: 20px;
    background-color: #260707;
    border-radius: 20px;
    padding: 15px;
    gap: 15px;
    border: 5px solid black;
}

#fanartMes {
    width: 400px;
    display: flex;
    height: auto;
    margin: 0 auto;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 50px;
    background-color: #700000;
    padding: 10px;
    gap: 10px;
    box-shadow: 0 0 10px black;
}

#fanartMes img {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

#outrasF {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 70%;
    gap: 30px;
    background-color: #700000;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
}

#outrasF img {
    margin: 0 auto;
    min-width: 80px;
    max-width: 200px;
    height: auto;
}

#envie {
    background-color: #700000;
    min-width: 50px;
    max-width: 125px;
    height: 30px;
    display: flex;
    border-radius: 10px;
    transition: transform 0.5s ease;
    border: 1.5px solid black;
}

#envie a {
    display: flex;
    margin: 0 auto;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 15px;
}

#envie:hover {
    transform: scale(1.05);
}

@media all and (max-width: 900px) {
    #fanartMes {
        width: 68%;
    }
}