body {
background-image: url(../img/castelo-infinito.png);
background-attachment: fixed;
padding-top: 100px;
background-size: cover;
}
/* Container principal - Ativa o Flexbox para alinhar os itens lado a lado */
@font-face {
    font-family: 'bloodcrow';
    src: url('../fontes/blood-krow/bloodcrow.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}