@font-face {
    font-family: 'bloodcrow';
    src: url('../fontes/blood-krow/bloodcrow.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
body {
background-image: url(../img/castelo-infinito.png);
background-attachment: fixed;
padding-top: 110px;
}
/* Container principal - Ativa o Flexbox para alinhar os itens lado a lado */
#mangas-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px; 
    padding: 20px;
    background-color: rgb(182, 0, 45);
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
}

/* Container de cada item (Imagem + Título) */
.manga-item {
    width: 180px;
    height: auto; /* Define a largura para o item, baseada na largura da sua imagem */
    margin: 0 auto;
}
.manga-item img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 6px;
}

/* Estilização do parágrafo/título */
.manga-item p {
    margin-top: 5px;
    text-align: center;
    font-size: 0.9em;
    font-family: 'bloodcrow';
    color: white;
}
#divLogin {
    width: 500px;
    height: 600px;
    background-color: rgb(139, 0, 0);
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
#divLogin img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: 50px;
}
#insc{
    color: black;
    margin: 0 auto;
    margin-top: 100px;
}
#insc a{
    color: rgb(15, 156, 79);
}
#loginSenha{
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
#loginSenha input{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
#loginSenha input:focus{
    outline: none;
    border: 2px solid rgb(15, 156, 79);
    box-shadow: 0 0 5px rgb(15, 156, 79);
}
#fanartMes{
    width: 33.33%;
    display: flex;
    height: auto;
    margin: 0 auto;
    justify-content: center;
/*     background-color: rgb(182, 0, 45); */
    flex-direction: column;
    border-radius: 20px;
}
#fanartImg{
    width: 60%;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}
#fundo{
    background-color: rgb(139, 0, 0);
    width: 1600px;
    margin-left: 155px;
    margin-right: 155px;
}
.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 50px;
    flex-wrap: wrap;
}

.card {
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.card:hover, #logo:hover, #perfil:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}
#navMenu a:hover, #navMenu a#active:hover{
    color: black;
    text-shadow: 0 0 4px black;
}
/* #cabecalho {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
} */
#logo {
    width: 100px;
    height: auto;
    align-items: left;
}
#navMenu {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    padding: 45px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    gap: 50px;
    height: 100px;
}
#navMenu a{
    color: rgb(15, 156, 79);
}
#menu2{
    justify-content: space-between;
    display: flex;
    width: 100%;
    background-color: rgb(139, 0, 0);
/*     background-color: rgb(182, 0, 45); */
    position: fixed;
    top: 0;
}
#perfil{
    width: 50px;
    height: auto;
    align-items: right;
    justify-content: space-between;
/*     background-color: blueviolet; */
    transition: transform 0.5s ease;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
}
#banner{
    width: 80%;
    display: flex;
    margin: 0 auto;
    gap: 50px;
}
#bannerZ{
    width: 32%;
    height: auto;
}
#bannerT{
    width: 36%;
    height: auto;
    align-items: center;
}
#bannerI{
    width: 32%;
    height: auto;
    align-items: center;
}
#navMenu a#active{
    color: black;
    border-radius: 5px;
}
#navMenu ul{
    list-style: none;
    display: flex;
    gap: 50px;
}