#topnav{
    display: flex;
    width: 100%;
    background: linear-gradient(to right,#800505,#460808, #800505);
    position: fixed;
    top: 0;
    z-index: 1;
    height: 100px;
    border-bottom: 1px solid black;
}
#navMenu a:hover, #navMenu a#active:hover{
    color: white;
    text-shadow: 0 0 4px white;
}
#cabecalho {
    display: flex;
    width: 100%;
    height: auto;
}
#logo {
    margin-top: 10px;
    margin-bottom: 100000000px;
    width: 100px;
    height: auto;
}
#logoBranca{
    display: none;
}
#navMenu {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    padding: 45px;
    margin: 0 auto;
    display: block;
    
}
#navMenu a{
    color: rgb(15, 156, 79);
    margin-left:25px;
    margin-right: 25px;
}
#perfil{
    width: 50px;
    height: auto;
    align-items: right;
    justify-content: space-between;
/*     background-color: blueviolet; */
    transition: transform 0.5s ease;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    float: right;
}
#navMenu a#active{
    color: white;
    border-radius: 5px;
}
#navMenu ul{
    list-style: none;
    display: flex;
    gap: 50px
}
#topnav #icon{
    display: none;
}
#banner{
    width: 80%;
    display: flex;
    margin: 0 auto;
    gap: 50px;
}
#bannerZ{
    width: 32%;
    height: auto;
}
#bannerT{
    width: 36%;
    height: auto;
    align-items: center;
}
#bannerI{
    width: 32%;
    height: auto;
    align-items: center;
}
@media all and (max-width:1500px){
    #topnav{
        display: flex;
        align-items: center;
    }
    #topnav #icon{
        float: right;
        display: block;
        color: black;
        margin-right: 40px;
        line-height: 1;
    }
    #topnav.responsive #icon {
        position: absolute;
        right: 0;
    }
    #perfil{
        display: none;
    }
    #navMenu a{
        display: none;
    }
    #logo{
        width: 100px;
        height: auto;
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media all and (max-width:700px){
    #banner{
        display: none;
    }
}