.topnav{
    display: flex;
    width: 100%;
    background: linear-gradient(to right,#800505,#460808, #800505);
    position: fixed;
    top: 0;
    z-index: 1;
    height: 100px;
    border-bottom: 1px solid black;
}
#divMenu a:hover, #divMenu a#active:hover{
    color: white;
    text-shadow: 0 0 4px white;
}
#cabecalho {
    display: flex;
    width: 100%;
    height: auto;
}
#menuPerfil{
    width: 100%;
}
#logo {
    margin-top: 8px;
    margin-bottom: 100000000px;
    width: 100px;
    height: auto;
}
#logoBranca{
    display: none;
}
#divMenu {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    padding: 45px;
    margin: 0 auto;
    display: block;
    
}
#divMenu a{
    color: rgb(15, 156, 79);
    margin-left:25px;
    margin-right: 25px;
}
#perfil{/* Arrumar depois, não está alinhado */
    width: 50px;
    height: auto;
    align-items: right;
    justify-content: space-between;
/*     background-color: blueviolet; */
    transition: transform 0.5s ease;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    float: right;
    z-index: 100;
}
#divMenu a#active{
    color: white;
    border-radius: 5px;
}
#divMenu ul{
    list-style: none;
    display: flex;
    gap: 50px
}
.topnav #icon{
    display: none;
}
@media all and (max-width:1500px){
    #menuPerfil a{
        display: none;
    }
    .topnav{
        display: flex;
        align-items: center;
    }
    .topnav.responsive{
        flex-direction: column;
        height: auto;
    }
    
    .topnav.responsive #menuPerfil{
        padding: 10px;
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 20px;
        background-color: #460808;
        padding: 15px;
        border-radius: 10px;
    }
    .topnav.responsive #menuPerfil a{
        display: block;
        text-align: center;
        margin: 10px 0;
    }
    .topnav a#icon{
        float: right;
        display: block;
        color: black;
        font-size: 25px;
        margin-right: 40px;
        line-height: 1;
    }
    .topnav.responsive #icon {
        position: absolute;
        right: 0;
    }
    #logo{
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: -42px;
    }
    #icon{
        margin-left: auto;
    }
}
@media all and (max-width:700px){
    #logo{
        width: 70px;
        margin-top: -30px;
    }
    .topnav{
        height: 70px;
    }
    body{
        padding-top: 90px;
    }
}