.topnav {
    display: flex;
    width: 100%;
    background: linear-gradient(to right, #800505, #460808, #800505);
    position: fixed;
    top: 0;
    z-index: 100000;
    height: 100px;
    border-bottom: 1px solid black;
}

#cabecalho {
    display: flex;
    width: 100%;
    height: auto;
}

#menuPerfil {
    width: 100%;
}

#logo {
    margin-top: 8px;
    margin-bottom: 100000000px;
    width: 100px;
    height: auto;
}

#divMenu {
    padding-top: 42.5px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
}

#divMenu a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: black
}

#perfil {
    width: 50px;
    height: auto;
    align-items: right;
    justify-content: space-between;
    transition: transform 0.5s ease;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    float: right;
    z-index: 100;
}

#logo:hover,
#perfil:hover {
    transition: transform 0.5s ease;
    transform: scale(1.1);
}

#divMenu a#active {
    color: white;
    border-radius: 5px;
}

.topnav #icon {
    display: none;
}

#comunidade {
    float: left;
}

#comunidade #btn {
    font-size: 15px;
    border: none;
    outline: none;
    color: black;
    padding: inherit;
    background-color: inherit;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    cursor: pointer;
}

#subComunidade {
    display: none;
    position: absolute;
    min-width: 120px;
}

#comunidade:hover #subComunidade {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: black;
    float: none;
    color: black;
    padding: 10px;
    text-decoration: none;
    display: flex;
    text-align: left;
    flex-direction: column;
    background-color:#800505;
    border-radius: 5px;
}

#divMenu a:hover,
#divMenu a#active:hover,
#btn:hover {
    color: white !important;
    text-shadow: 0 0 4px white;
}
.hrM{
    display: none;
}
.cMenu{
    display: none;
}
@media all and (max-width:1500px) {
    #divMenu {
        gap: 40px;
    }

    #divMenu a {
        font-size: 14px;
    }
}

@media all and (max-width:1000px) {

    .topnav.responsive {
        height: 100px !important;
        flex-direction: row !important;
        align-items: center;
    }

    #divMenu a {
        display: none;
    }

    #comunidade {
        display: none;
    }


    .topnav.responsive #divMenu{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 75px;
        right: 0;
        width: 300px;
        background-color: #460808;
        padding: 20px;
        border-radius: 10px;
        z-index: 9999;
        box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.5);
        gap: 20px;
    }

    .topnav.responsive #divMenu a{
        display: block;
        margin: 0 0;
        color: black;
        border: none;
    }
    .topnav.responsive #divMenu .hrM{
        display: block;
        background-color: black;
        border: none;
        height: 1px;
        margin: 0;
    }
    #logo {
/*         position: static; */
        margin: 10px 20px;
        width: 100px;
    }

    #icon {
        display: block !important;
        margin-left: auto;
        margin-right: 50px;
        cursor: pointer;
        color: white;
        margin-top: 40px;
        font-size: 15px;
    }

    .topnav.responsive #icon {
        margin-top: 0;
    }
}

@media all and (max-width:700px) {

    .topnav,
    .topnav.responsive {
        height: 70px !important;
    }

    .topnav.responsive #divMenu {
        width: 200px;
        top: 70px;
    }

    .topnav.responsive #divMenu a{
        font-size: 13px;
    }
    #logo {
        width: 60px;
    }
    #icon{
        margin-top: 23px;
    }

    #perfil {
        width: 35px;
        margin-top: 15px;
    }
    .topnav {
        height: 70px;
    }

    body {
        padding-top: 90px;
    }
}