/* Opcional: Estilo para o H1 para remover o align="center" e centralizar com CSS */
.h1 {
    text-align: center;
}
.p{
    text-align: center;
    font-size: 2px;
}
.h2{
    text-align: center;
}
.pJustify{
    text-align: justify;
}
.fonte-dms{
    font-family: 'bloodcrow';
    font-weight: bold;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 50px;
    flex-wrap: wrap;
}

.card {
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.5s ease;
}

.card:hover,#logo:hover,#arcos:hover,#mangas:hover,#personagens:hover,#respiracoes:hover,#descubra:hover,#mundo:hover,#fanarts:hover{
    transform: scale(1.1);
}
#cabecalho {
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
/*     flex-direction: column; */
}
#logo {
    width: 100px;
    height: auto;
    align-items: left;
    transition: transform 0.5s ease;
}
#navMenu {
/*     background-color: pink; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    padding: 45px;
    margin: 0 auto;
    justify-content: space-between;;
}
#arcos,#mangas,#personagens,#respiracoes,#descubra,#mundo,#fanarts {
    transition: transform 0.5s ease;
}
#menu2{
    justify-content: space-between;
    display: flex;
    width: 100%;
    background: linear-gradient(to right,red,black,red);
    position: fixed;
    height: 100px;
}
#perfil{
    width: 100px;
    height: auto;
    align-items: right;
    justify-content: space-between;
}
#banner{
    width: 100%;
    display: flex;
    justify-content:space-between;
    background-image: url('../img/pastaBanner/casteloInfinito_fundo.png');
}
#bannerZ{
    width: 400px;
    height: auto;
    margin-top: 100px;
}
#bannerT{
    width: 500px;
    height: auto;
    margin-top: 100px;
    align-items: center;
}
#bannerI{
    width: 400px;
    height: auto;
    margin-top: 100px;
    align-items: center;
}