/* Opcional: Estilo para o H1 para remover o align="center" e centralizar com CSS */
.titulo {
    text-align: center;
}
.p{
    text-align: center;
    font-size: 2px;
}
.h2{
    text-align: center;
}
.pJustify{
    text-align: justify;
}
.fonte-dms{
    font-family: 'bloodcrow';
    font-weight: bold;
}