/* Opcional: Estilo para o H1 para remover o align="center" e centralizar com CSS */
.h1 {
    text-align: center;
}
.p{
    text-align: center;
    font-size: 2px;
}
.h2{
    text-align: center;
}
.pJustify{
    text-align: justify;
}
.fonte-dms{
    font-family: 'bloodcrow';
    font-weight: bold;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 50px;
    flex-wrap: wrap;
}

.card {
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.5s ease;
}

.card:hover{
    transform: scale(1.1);
}
#cabecalho {
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    flex-direction: column;
}
#logo {
    width: 100px;
    height: auto;
    align-items: left;
}
#navMenu {
    margin-right: 20%;
    margin-left: 20%;
/*     background-color: pink; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    padding: 45px;
    text-align: center;
}
#banner{
    width: 100%;
    margin-top: 110px;
}
#menu2{
    justify-content: space-between;
    display: flex;
    width: 100%;
    background: linear-gradient(to right,red,black,red);
    position: fixed;
    height: 110px;
}
#perfil{
    width: 100px;
    height: auto;
    align-items: right;
    justify-content: space-between;
}