{% extends 'base.html' %}
{% block title %}Respirações{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/respiracoes.css') }}">
{% endblock %}

{% block content %}
        <section id="respiracoes">
            
            <div class="categoria-respiracao">
                <h2 class="titulo-pagina">Principais estilos de Respiração</h2>
                
                <div class="grid-respiracoes">
                    <div class="card-respiracao">
                        <img src="{{ url_for('static', filename='uploads/respiracoes/sol.webp')}}" alt="Respiração do Sol">
                        <h3>Respiração do Sol</h3>
                        <p>A base de todas as outras respirações.</p>
                    </div>

                    <div class="card-respiracao">
                        <img src="{{ url_for('static', filename='uploads/respiracoes/agua.webp')}}" alt="Respiração da Água">
                        <h3>Respiração da Água</h3>
                        <p>Flexível e adaptável a qualquer situação.</p>
                    </div>

                    <div class="card-respiracao">
                        <img src="{{ url_for('static', filename='uploads/respiracoes/chama.webp')}}" alt="Respiração das Chamas">
                        <h3>Respiração das Chamas</h3>
                        <p>Ataques intensos com alto poder destrutivo.</p>
                    </div>

                    <div class="card-respiracao">
                        <img src="{{ url_for('static', filename='uploads/respiracoes/trovao.webp')}}" alt="Respiração do Trovão">
                        <h3>Respiração do Trovão</h3>
                        <p>Focada em velocidade explosiva e precisão.</p>
                    </div>

                    <div class="card-respiracao">
                        <img src="{{ url_for('static', filename='uploads/respiracoes/fera.webp')}}" alt="Respiração da Rocha">
                        <h3>Respiração da fera</h3>
                        <p>Focada em força bruta e defesa absoluta.</p>
                    </div>

                    <div class="card-respiracao">
                        <img src="{{ url_for('static', filename='uploads/respiracoes/vento.webp')}}" alt="Respiração do Vento">
                        <h3>Respiração do Vento</h3>
                        <p>Ataques ferozes e cortantes como um furacão.</p>
                    </div>
                </div>
            </div>

        </section>
{% endblock %}