{% extends 'base.html' %} {% block title %}Arcos{% endblock %} {% block extra_css %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/arcos.css')}}">
{% endblock %}
{% block content %}
        <div id="arcos">
            <div id="arco1" onclick="toggleArco(this)">
                <div class="capaTexto">
                    <div class="capa">
                    </div>
                    <div id="textoArco">
                        <h3 class="h3a">Arco da determinação inabalável</h3>
                    </div>
                </div>
                <nav class="menu-escondido">
                    <div class="subArco1" id="sub1">
                        <img src="{{ url_for('static', filename='uploads/arcos/sub1.webp') }}" alt="">
                        <a href="arcos/subArco1.html">1.1 Arco da seleção final</a>
                    </div>
                    <div class="subArco1">
                        <img src="{{ url_for('static', filename='uploads/arcos/sub2.webp') }}" alt="">
                        <a href="arcos/subArco2.html">1.2 Arco do Pântano do Sequestrador</a>
                    </div>
                    <div class="subArco1">
                        <img src="{{ url_for('static', filename='uploads/arcos/sub3.webp') }}" alt="">
                        <a href="arcos/subArco3.html">1.3 Arco de Asakusa</a>
                    </div>
                    <div class="subArco1">
                        <img src="{{ url_for('static', filename='uploads/arcos/sub4.webp') }}" alt="">
                        <a href="arcos/subArco4.html">1.4 Arco da Mansão Tsuzumi</a>
                    </div>
                    <div class="subArco1">
                        <img src="{{ url_for('static', filename='uploads/arcos/sub5.webp') }}" alt="">
                        <a href="arcos/subArco5.html">1.5 Arco do Monte Natagumo</a>
                    </div>
                    <div class="subArco1">
                        <img src="{{ url_for('static', filename='uploads/arcos/sub6.webp') }}" alt="">
                        <a href="arcos/subArco6.html">1.6 Arco de Treinamento de Reabilitação</a>
                    </div>
                </nav>
            </div>
            <div id="arco2">
                <div id="textoArco">
                    <h3 class="h3a">Arco do Trem Infinito</h3>
                </div>
                <a href="arcos/arco2.html">
                    <img src="{{ url_for('static', filename='uploads/arcos/arco2.webp') }}" alt="">
                </a>
            </div>
            <div id="arco3">
                <div id="textoArco">
                    <h3 class="h3a">Arco do Distrito do Entretenimento</h3>
                </div>
                <a href="arcos/arco3.html">
                    <img src="{{ url_for('static', filename='uploads/arcos/arco3.webp') }}" alt="">
                </a>
            </div>
            <div id="arco4">
                <div id="textoArco">
                    <h3 class="h3a">Arco da Vila dos Ferreiros</h3>
                </div>
                <a href="arcos/arco4.html">
                    <img src="{{ url_for('static', filename='uploads/arcos/arco4.jpg') }}" alt="">
                </a>
            </div>
            <div id="arco5">
                <div id="textoArco">
                    <h3 class="h3a">Arco do Treinamento dos Hashiras</h3>
                </div>
                <a href="arcos/arco5.html">
                    <img src="{{ url_for('static', filename='uploads/arcos/arco5.webp') }}" alt="">
                </a>
            </div>
            <div id="arco6" onclick="toggleArco(this)">
                <div class="capaTexto">
                    <div class="capa2">
                    </div>
                    <div id="textoArco">
                        <h3 class="h3a">Arco da batalha final</h3>
                    </div>
                </div>
                <nav class="menu-escondido" id="menu6">
                    <div class="subArco6" id="sub7">
                        <img src="{{ url_for('static', filename='uploads/arcos/sub7.webp') }}" alt="">
                        <a href="arcos/subArco1.html">6.1 Arco do castelo infinito</a>
                    </div>
                    <div class="subArco6">
                        <img src="{{ url_for('static', filename='uploads/arcos/sub8.webp') }}" alt="">
                        <a href="arcos/subArco2.html">6.2 Arco da contagem regressiva para o nascer do sol</a>
                    </div>
{% endblock %}