body {
background-image: url(../img/castelo-infinito.png);
background-attachment: fixed;
padding-top: 100px;
background-size: cover;
}
/* Container principal - Ativa o Flexbox para alinhar os itens lado a lado */
@font-face {
    font-family: 'bloodcrow';
    src: url('../fontes/blood-krow/bloodcrow.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
footer{
    margin: 0 auto;
    height: 30px;
    padding-top: 7px;
}
footer p{
    color: rgba(255, 255, 255, 0.529);
    text-align: center;
}