#divLogin {
    width: 500px;
    height: 600px;
    background-color: #800505;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
#divLogin img{
    width: 30%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
}
#insc{
    color: black;
    margin: 0 auto;
    font-size: 16px;
    margin-top: auto;
    margin-bottom: 20px;
}
#insc a{
    color: white;
}
#loginSenha{
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 20%;
}
#loginSenha input{
    width: 80%;
    height: 50px;
    margin: 0 auto;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
}
#loginSenha input:focus{
    outline: none;
    border: 2px solid black;
    box-shadow: 0 0 5px black;
}
@media all and (max-width:660px){
    #divLogin{
        margin-top: 50px;
        width: 75%;
        height: auto;
        aspect-ratio: 9 / 11;
    }
    #insc{
        min-width: 100px;
    }
}
@media all and (max-width: 500px){
    #insc{
        font-size: 14px;
    }
}
@media all and (max-width: 400px){
    #insc{
        font-size: 13px;
    }
}