#divLogin {
    display: flex;
    width: 500px;
    height: 600px;
    background-color: #800505;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#divLogin h1{
    margin: 0 auto;
}

#divLogin img{
    width: 30%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
}
#insc{
    color: black;
    margin: 0 auto;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: auto;
}
#insc a{
    color: white;
}
#loginSenha{
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 10px;
}
#loginSenha .form-group input{
    width: 80%;
    height: 50px;
    margin: 0 auto;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
}
#loginSenha .form-group input:focus{
    outline: none;
    border: 2px solid black;
    box-shadow: 0 0 5px black;
}

#divLogin button{
    width: 20%;
    height: 25px;
    margin: 0 auto;
    background-color: #800505;
    border: none;
    box-shadow: 0 0 10px black;
    border-radius: 15px;
    cursor: pointer;
}

#divLogin button:hover{
    background-color: #720606;
}

@media all and (max-width:660px){
    #divLogin{
        margin-top: 50px;
        width: 75%;
        height: auto;
        aspect-ratio: 9 / 11;
    }
    #insc{
        min-width: 100px;
    }
}
@media all and (max-width: 500px){
    #insc{
        font-size: 14px;
    }
}
@media all and (max-width: 400px){
    #insc{
        font-size: 13px;
    }
}