{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/fanart.css') }}">
{% endblock %}

{% block banner %}
  <div id="banner">
    <img id="bannerZ" src="{{ url_for('static', filename='uploads/pastaBanner/zenitsuBanner.png') }}" alt="Banner Zenitsu" />
    <img id="bannerT" src="{{ url_for('static', filename='uploads/pastaBanner/tanjiroBanner.png') }}" alt="Banner Tanjiro" />
    <img id="bannerI" src="{{ url_for('static', filename='uploads/pastaBanner/inosukeBanner.png') }}" alt="Banner Inosuke" />
  </div>
{% endblock %}

{% block content %}
<div id="fundo">
    <section id="enredo">
        <h1 class="fonte-dms">Plot</h1>
        <p class="pJustify">
        In Japan during the era Taisho, Tanjiro Kamado is a boy with a good heart who earns a living selling charcoal
        <br>
        However, his pacific life is destroyed when an Oni kills his whole family.
        <br>
        His younger sister, Nesuko, is the only survivor, but herself is transformed into an Oni! 
        <br>
        Tanjiro goes on a dangerous journey to find a way to bring his sister back to normal and destroy the Oni who
        ruined his life.
        </p>
    </section>

    <section id="sobreSite">
        <h1 class="fonte-dms">About the Hub</h1>
        <p>
        Welcome to my website dedicated to the Demon Slayer universe (Kimetsu no Yaiba).
        <br />
        Here you will find a place created for fans that wish to explore the world of the anime in an 
        interactive and creative way.
        The website brings general information about the series, trivia, and contents specially designed for the community.
        <br />
        The main highlight is the interactive mini-game, where you can discover which Breathing Style suits
        you best, making the experience unique and fun.
        In addition, we have a community fan art section, a space dedicated 
        to celebrating fans' creativity, and the fan arts of the month receive special recognition.
        </p>
    </section>

    <div class="galeria-home">
        <h2 class="fonte-dms" id="h2Fanarts">Recent Fan Arts</h2>
        <div class="grid-fanarts">
                {% for fanart in fanarts %}
                <div class="card-fanart">
                    <a href="{{ url_for('fanart.ver_fanart', fanart_id=fanart.id) }}">
                        <img src="{{ url_for('static', filename='uploads/' + fanart.imagem) }}" alt="{{ fanart.titulo }}" class="fanart-img">
                        <h3>{{ fanart.titulo }}</h3>
                    </a>
                    <p>By: {{ fanart.autor_nome }}</p>
                    <div class="card-footer">
                        <form action="{{ url_for('fanart.curtir', fanart_id=fanart['id']) }}" method="POST">
                            <button type="submit" class="btn-like {{ 'active' if fanart['curtiu'] else '' }}">
                                <img src="{{ url_for('static', filename='uploads/fanarts/' + ('like.png' if fanart['curtiu'] else 'sem_like.png')) }}" 
                                     class="icon-like" alt="Like">
                                <span>{{ fanart['total_likes'] or 0 }}</span>
                            </button>
                        </form>
                    </div>
                </div>
                {% else %}
                <p>No fan art found.</p>
                {% endfor %}
            </div>
            <br>
            <div id="divFanarts">
                <a href="{{ url_for('fanart.fanarts') }}" id="ver-fanarts" class="btn-save" style="text-decoration: none; display: inline-block;">View all Fan Arts</a>
            </div>
            <br />
        The artworks submitted by the community participate in a monthly selection, and the fan art that comes in first place will 
        be featured on a showcase board within this tab throughout the following month, giving visibility and recognition to the artist.
        Our goal is to provide an immersive environment that brings together entertainment, interactivity, and community participation.
    </div>
  </div>
  <footer>
    <p>&copy; 2026 Demon Slayer Hub - Page create by a fan.</p>
  </footer>
{% endblock %}
