{% extends 'base.html' %} {% block title %}Início{% endblock %} {% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/fanart.css') }}">
{% endblock %}

{% block banner %}
  <div id="banner">
    <img id="bannerZ" src="{{ url_for('static', filename='uploads/pastaBanner/zenitsuBanner.png') }}" alt="Banner Zenitsu" />
    <img id="bannerT" src="{{ url_for('static', filename='uploads/pastaBanner/tanjiroBanner.png') }}" alt="Banner Tanjiro" />
    <img id="bannerI" src="{{ url_for('static', filename='uploads/pastaBanner/inosukeBanner.png') }}" alt="Banner Inosuke" />
  </div>
{% endblock %}

{% block content %}
<div id="fundo">
    <section id="enredo">
        <h1 class="fonte-dms">Plot</h1>
        <p class="pJustify">
        In Japan during the era Taisho, Tanjiro Kamado is a boy with a good heart who earns a living selling charcoal
        <br>
        However, his pacific life is destroyed when an Oni kills his whole family.
        <br>
        His younger sister, Nesuko, is the only survivor, but herself is transformed into an Oni! 
        <br>
        Tanjiro parte em uma jornada perigosa para encontrar uma maneira de retornar sua irmã ao normal e destruir o
        Oni que arruinou sua vida.
        Tanjiro goes on a dangerous journey to find a way to bring his sister back to normal and destroy the Oni who
        ruined his life.
        </p>
    </section>

    <section id="sobreSite">
        <h1 class="fonte-dms">Sobre o Hub</h1>
        <p>
        Welcome to my website dedicated to the Demon Slayer universe (Kimetsu no Yaiba).
        <br />
        Here you will find a place created for fans that wish to explore the world of the anime in an 
        interactive and creative way.
        The website brings general information about the series, trivia, and contents specially designed for the community.
        <br />
        The main highlight is the interactive mini-game, where you can discover which Breathing Style suits
        you best, making the experience unique and fun.
        Além disso, contamos com uma aba de fanarts da comunidade, um espaço voltado para valorizar a
        criatividade
        dos
        fãs e as fanarts do mês ganham destaque especial.
        </p>
    </section>

    <div class="galeria-home">
        <h2 class="fonte-dms" id="h2Fanarts">Fanarts Recentes</h2>
        <div class="grid-fanarts">
                {% for fanart in fanarts %}
                <div class="card-fanart">
                    <a href="{{ url_for('fanart.ver_fanart', fanart_id=fanart.id) }}">
                        <img src="{{ url_for('static', filename='uploads/' + fanart.imagem) }}" alt="{{ fanart.titulo }}" class="fanart-img">
                        <h3>{{ fanart.titulo }}</h3>
                    </a>
                    <p>Por: {{ fanart.autor_nome }}</p>
                    <div class="card-footer">
                        <form action="{{ url_for('fanart.curtir', fanart_id=fanart['id']) }}" method="POST">
                            <button type="submit" class="btn-like {{ 'active' if fanart['curtiu'] else '' }}">
                                <img src="{{ url_for('static', filename='uploads/fanarts/' + ('like.png' if fanart['curtiu'] else 'sem_like.png')) }}" 
                                     class="icon-like" alt="Like">
                                <span>{{ fanart['total_likes'] or 0 }}</span>
                            </button>
                        </form>
                    </div>
                </div>
                {% else %}
                <p>Nenhuma fanart encontrada.</p>
                {% endfor %}
            </div>
            <br>
            <div id="divFanarts">
                <a href="{{ url_for('fanart.fanarts') }}" id="ver-fanarts" class="btn-save" style="text-decoration: none; display: inline-block;">Ver todas as Fanarts</a>
            </div>
            <br />
        As artes enviadas pela comunidade participam de uma seleção mensal,
        e a fanart que ficar em primeiro lugar será exibida em um mural de destaque dentro dessa aba durante
        todo o
        mês
        seguinte, dando visibilidade e reconhecimento ao artista.
        Nosso objetivo é oferecer um ambiente envolvente que una entretenimento, interatividade e
        participação
        da
        comunidade.
    </div>
  </div>
  <footer>
    <p>&copy; 2026 Demon Slayer Hub - Página criada por um fã.</p>
  </footer>
{% endblock %}
