{% extends 'base.html' %} {% block title %}Início{% endblock %} {% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/fanart.css') }}">
{% endblock %}

{% block banner %}
  <div id="banner">
    <img id="bannerZ" src="{{ url_for('static', filename='uploads/pastaBanner/zenitsuBanner.png') }}" alt="Banner Zenitsu" />
    <img id="bannerT" src="{{ url_for('static', filename='uploads/pastaBanner/tanjiroBanner.png') }}" alt="Banner Tanjiro" />
    <img id="bannerI" src="{{ url_for('static', filename='uploads/pastaBanner/inosukeBanner.png') }}" alt="Banner Inosuke" />
  </div>
{% endblock %}

{% block content %}
<div id="fundo">
    <section id="enredo">
        <h1 class="fonte-dms">Plot</h1>
        <p class="pJustify">
        No Japão da era Taisho, Tanjiro Kamado é um menino de bom coração que ganha a vida vendendo carvão.
        In Japan during the era Taisho, Tanjiro Kamado is a boy with a good heart that 
        <br>
        No entanto, sua vida pacífica é destruída quando um Oni mata sua família inteira.
        <br>
        Sua irmã mais nova, Nezuko, é a única sobrevivente, mas ela mesma se transformou em um Oni!
        <br>
        Tanjiro parte em uma jornada perigosa para encontrar uma maneira de retornar sua irmã ao normal e destruir o
        Oni que arruinou sua vida.
        </p>
    </section>

    <section id="sobreSite">
        <h1 class="fonte-dms">Sobre o Hub</h1>
        <p>
        Bem-vindo ao nosso site dedicado ao universo de Demon Slayer (Kimetsu no Yaiba).
        <br /><br />
        Aqui você encontra um espaço criado para fãs que desejam explorar o mundo do anime de forma
        interativa e
        criativa.
        O site reúne informações gerais sobre a obra, curiosidades e conteúdos pensados especialmente para a
        comunidade.
        <br />
        O grande destaque é o mini game interativo, onde você pode descobrir qual Respiração mais combina
        com
        você,
        tornando a experiência única e divertida.
        Além disso, contamos com uma aba de fanarts da comunidade, um espaço voltado para valorizar a
        criatividade
        dos
        fãs e as fanarts do mês ganham destaque especial.
        </p>
    </section>

    <div class="galeria-home">
        <h2 class="fonte-dms" id="h2Fanarts">Fanarts Recentes</h2>
        <div class="grid-fanarts">
                {% for fanart in fanarts %}
                <div class="card-fanart">
                    <a href="{{ url_for('fanart.ver_fanart', fanart_id=fanart.id) }}">
                        <img src="{{ url_for('static', filename='uploads/' + fanart.imagem) }}" alt="{{ fanart.titulo }}" class="fanart-img">
                        <h3>{{ fanart.titulo }}</h3>
                    </a>
                    <p>Por: {{ fanart.autor_nome }}</p>
                    <div class="card-footer">
                        <form action="{{ url_for('fanart.curtir', fanart_id=fanart['id']) }}" method="POST">
                            <button type="submit" class="btn-like {{ 'active' if fanart['curtiu'] else '' }}">
                                <img src="{{ url_for('static', filename='uploads/fanarts/' + ('like.png' if fanart['curtiu'] else 'sem_like.png')) }}" 
                                     class="icon-like" alt="Like">
                                <span>{{ fanart['total_likes'] or 0 }}</span>
                            </button>
                        </form>
                    </div>
                </div>
                {% else %}
                <p>Nenhuma fanart encontrada.</p>
                {% endfor %}
            </div>
            <br>
            <div id="divFanarts">
                <a href="{{ url_for('fanart.fanarts') }}" id="ver-fanarts" class="btn-save" style="text-decoration: none; display: inline-block;">Ver todas as Fanarts</a>
            </div>
            <br />
        As artes enviadas pela comunidade participam de uma seleção mensal,
        e a fanart que ficar em primeiro lugar será exibida em um mural de destaque dentro dessa aba durante
        todo o
        mês
        seguinte, dando visibilidade e reconhecimento ao artista.
        Nosso objetivo é oferecer um ambiente envolvente que una entretenimento, interatividade e
        participação
        da
        comunidade.
    </div>
  </div>
  <footer>
    <p>&copy; 2026 Demon Slayer Hub - Página criada por um fã.</p>
  </footer>
{% endblock %}
