{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block extra_css %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<section id="divLogin" class="auth-container">
    <img src="{{ url_for('static', filename='uploads/pastaBanner/default.png') }}" alt="">
    <h1 class="titulo">Acessar Hub</h1>
    <form action="{{ url_for('auth.login') }}" method="POST">
        <div id="loginSenha">
            <div class="form-group">
                <input type="email" name="email" id="email" placeholder="E-mail" required>
            </div>
            <div class="form-group">
                <input type="password" name="senha" id="senha" placeholder="Senha" required>
                <img id="togglePassword" src="{{ url_for('static', filename='uploads/login/visualizar.png') }}" alt="Ver Senha" onclick="togglePasswordVisibility()">
            </div>
        </div>
        <button type="submit">Entrar</button>
    </form>
    <p id="insc">Ainda não é um membro? <a href="{{ url_for('auth.cadastro') }}">Cadastre-se</a></p>
</section>
{% endblock %}

{% block extra_js %}
{{ super() }}
{% endblock %}